include README.md
include LICENSE
include CHANGELOG.md
include INSTALL.md
include requirements.txt
include pyproject.toml

recursive-include src *.py

recursive-exclude tests *
recursive-exclude scripts *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
